@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject CatchUpLocalDb DbContext

@using catch_up_mobile.SQLite

@if (isLoading)
{
    <div class="text-center">
        <Loading />
    </div>
}
else
{
    @if (isAuthenticated)
    {
        <div class="page">
            <div class="sidebar fixed-top" style="position:sticky; top: 0">
                <NavMenu />
            </div>

            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
            <!-- Bottom Navigation Panel -->
            <div class="bottom-panel fixed-bottom shadow">
                <div class="d-flex justify-content-around align-items-center">
                    <NavLink class="nav-link text-center flex-fill" href="tasks">
                        <i class="bi bi-list-task fs-4"></i>
                        <div>Tasks</div>
                    </NavLink>
                    <NavLink class="nav-link text-center flex-fill" href="schoolingList">
                        <i class="bi bi-book fs-4"></i>
                        <div>Schoolings</div>
                    </NavLink>
                    <NavLink class="nav-link text-center flex-fill" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house-door fs-4"></i>
                        <div>Home</div>
                    </NavLink>
                    <NavLink class="nav-link text-center flex-fill" href="feedback">
                        <i class="bi bi-pencil-square fs-4"></i>
                        <div>Feedback</div>
                    </NavLink>
                    <NavLink class="nav-link text-center flex-fill" href="faq">
                        <i class="bi bi-question-circle fs-4"></i>
                        <div>FAQ</div>
                    </NavLink>
                </div>
            </div>

        </div>
    }
    else
    {
        @Body
    }
}


@code {
    private bool isAuthenticated = false;
    private bool isLoading = true;
    protected override async Task OnInitializedAsync()
    {
        var user = await DbContext.GetUserAsync();
        isAuthenticated = user != null;

        if (!isAuthenticated && NavigationManager.Uri != NavigationManager.BaseUri + "login")
        {
            NavigationManager.NavigateTo("/login");
        }

    }

    protected override async Task OnParametersSetAsync()
    {
        var user = await DbContext.GetUserAsync();
        isAuthenticated = user != null;
        StateHasChanged();
        isLoading = false;
    }
}