@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar fixed-top" style="position:sticky; top: 0">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>


    <footer className="m-5">
        <hr />
        <div className="text-muted p-5">© 2024 UnhandledException</div>
    </footer>
</div>
