@using catch_up_mobile.Components.Pages.MaterialManager
@inject CatchUpLocalDb DbContext
@inject NavigationManager NavigationManager

@using catch_up_mobile.SQLite
@using catch_up_mobile.Dtos

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">catchUp</a>
        <b class="navbar-username">@userName</b>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column nav-items-box">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi-house-door-fill fs-5" aria-hidden="true"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accelerometer">
                <i class="bi-speedometer fs-5" aria-hidden="true"></i> Accelerometer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recorder">
                <i class="bi-mic fs-5" aria-hidden="true"></i> Recorder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="faq">
                <i class="bi-question-circle fs-5" aria-hidden="true"></i> FAQ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="taskcontent">
                <i class="bi-list-task fs-5" aria-hidden="true"></i> Task Content
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assigntask">
                <i class="bi-list-task fs-5" aria-hidden="true"></i> Assign Task
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <i class="bi-list-task fs-5" aria-hidden="true"></i> Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assignment">
                <i class="bi-link fs-5" aria-hidden="true"></i> Assignment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="materialTest">
                <i class="bi-question-square-fill fs-5" aria-hidden="true"></i> materialTest
            </NavLink> 
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="localization-test">
                <i class="bi-question-square-fill fs-5" aria-hidden="true"></i> LOCALIZATION TEST
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schoolingList">
                <i class="bi-question-square-fill fs-5" aria-hidden="true"></i> Schoolings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feedback">
                <i class="bi-pencil-square fs-5" aria-hidden="true"></i> Feedbacks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="localization-panel-admin">
                <i class="bi-geo-alt-fill fs-5" aria-hidden="true"></i> Localization Panel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <i class="bi-gear fs-5" aria-hidden="true"></i> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="HandleLogout">
                <i class="bi-box-arrow-right fs-5" aria-hidden="true"></i> Logout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    public string userName = "";

    protected override async Task OnInitializedAsync()
    {
        UserDto user = await DbContext.GetUserAsync();
        userName = $"{user.Name} {user.Surname}";
    }


    private async Task HandleLogout()
    {
        await DbContext.ClearUserAsync();
        NavigationManager.NavigateTo("/", true);
    }
}