@page "/fileAdd/{materialId:int?}"
@using System.Diagnostics
@using catch_up_mobile.Dtos

@inject HttpClient _httpClient

<section class="container">

</section>
@code {

    private MaterialDto material { get; set; }
    private string? errorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
}
