@page "/fileAdd/{materialId:int?}"
@using System.Diagnostics
@using catch_up_mobile.Dtos

@inject HttpClient _httpClient

<section class="container">

</section>
@code {
    [Parameter] public int? materialId { get; set; }
    [Parameter] public bool showRemoveFile { get; set; }
    [Parameter] public bool showDownloadFile { get; set; }
    [Parameter] public bool showAddingFile { get; set; }
    [Parameter] public EventCallback<int> materialCreated { get; set; }

    private MaterialDto material { get; set; }
    private string? errorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
}
