@page "/assignment"

@inject HttpClient _httpClient
@inject NavigationManager NavigationManager

@using catch_up_mobile.Dtos
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel.DataAnnotations.Schema

<div class="d-flex justify-content-center text-center">
    <div>
        <h1>Assignment</h1>
        <p>Choose Assignment Type</p>
        <div class="row justify-content-center mt-4">
            <button class="btn btn-primary mb-3" @onclick="NavigateToAssignNewbieToMentor">
                Assign Newbie
                <i class="bi bi-arrow-right"></i>
                Mentor
            </button>
            <button class="btn btn-secondary d-block" @onclick="NavigateToAssignMentorToNewbie">
                Assign Mentor
                <i class="bi bi-arrow-right"></i>
                Newbie
            </button>
        </div>
    </div>
</div>




@code {
    private void NavigateToAssignNewbieToMentor()
    {
        NavigationManager.NavigateTo("/assign-newbie-to-mentor");
    }
    private void NavigateToAssignMentorToNewbie()
    {
        NavigationManager.NavigateTo("/assign-mentor-to-newbie");
    }
}
