@page "/mentor-details/{mentorId:guid}"

@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
@using catch_up_mobile.Dtos

<div class="container mt-5">
    <h2 class="text-center">Selected Mentor: @SelectedMentorName @SelectedMentorSurname</h2>
    <h3 class="text-center">Position: @SelectedMentorPosition</h3>

    <div class="row justify-content-center mt-4">
        <button class="btn btn-primary mb-3" @onclick="GoToNewbies">
            Go to @SelectedMentorName @SelectedMentorSurname Newbies
        </button>

        <button class="btn btn-secondary d-block" @onclick="AssignNewbie">
            Assign Newbie to @SelectedMentorName @SelectedMentorSurname
        </button>
    </div>
</div>



@code {
    [Parameter] public Guid MentorId { get; set; }
    private string SelectedMentorName { get; set; }
    private string SelectedMentorSurname { get; set; }
    private string SelectedMentorPosition { get; set; }

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        SelectedMentorName = query["name"];
        SelectedMentorSurname = query["surname"];
        SelectedMentorPosition = query["position"];
    }

    private void GoToNewbies()
    {
        NavigationManager.NavigateTo($"/newbies/{MentorId}?name={SelectedMentorName}&surname={SelectedMentorSurname}&position={SelectedMentorPosition}");
    }

    private void AssignNewbie()
    {
        NavigationManager.NavigateTo($"/assign-newbies/{MentorId}?name={SelectedMentorName}&surname={SelectedMentorSurname}&position={SelectedMentorPosition}");
    }

}
