@page "/feedback"

@inject HttpClient _httpClient
@inject CatchUpLocalDb _localDb
@inject NavigationManager NavigationManager

@using catch_up_mobile.Dtos
@using catch_up_mobile.SQLite
@using CommunityToolkit.Maui.Alerts

<div class="container text-center">
    <h3>FeedbackPage</h3>
</div>

@code {

}
