@inject IJSRuntime JS

<div class="setting-container">
    <h3>Theme:</h3>
    <div class="setting-row">
        <div class="setting-name">
            DARK MODE
        </div>
        <div class="form-check form-switch setting-switch">
            <input class="form-check-input" type="checkbox" id="themeSwitch" @bind="isDarkMode" @bind:event="oninput" @onchange="ToggleTheme">
        </div>
    </div>
</div>

@code {
    private bool isDarkMode = false;

    protected override async Task OnInitializedAsync()
    {
        var savedTheme = await JS.InvokeAsync<string>("localStorage.getItem", "theme");
        if (savedTheme == "catchUpNight")
        {
            isDarkMode = true;
        }
    }

    private async Task ToggleTheme()
    {
        string newTheme = isDarkMode ? "catchUpNight" : "catchUpDay";
        await JS.InvokeVoidAsync("changeTheme", newTheme);
    }
}