:root {
    --font-size: 14px;
}

.font-size-small {
    --font-size: 12px;
}

.font-size-medium {
    --font-size: 14px;
}

.font-size-large {
    --font-size: 16px;
}

/* Every element that will be affected by changing the font size*/
.nav-link, .navbar-brand, button, input, label, textarea, .accordion-body, p, b, .btn {
    font-size: var(--font-size) !important;
}


.bottom-panel {
    padding: 10px 0px;
    background-color: #2b0098;
    font-weight: bold;
    max-height: 20vw;
}

.bottom-panel .nav-link {
    color: white;
    width: 1px;
}

.bottom-panel .nav-link.active,
.bottom-panel .nav-link:hover {
    color: #edca62;
}

.material-item {
    word-wrap: break-word;
    overflow-wrap: break-word; 
    word-break: break-all; 
    white-space: normal; 
    text-align: left;
}

.material-name{
    max-width: 50vw;
}